#print 0 to 20 by using range

In [3]:
for tempvar in range(0,20):
    print(tempvar)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

#print range 10 to 20

In [5]:
for tempVar in range(10, 20):
    print(tempVar, end = " ")

10 11 12 13 14 15 16 17 18 19

#print number of items in the list by using 'len'

In [15]:
List2 = [10, 20, 14, 55, 43, 87, 76]
print(List2)
print("Number of item in the List2:\n",len(List2))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
 7

In [21]:
inpStr = "Artificial Intelligence"
print(inpStr)
for tempVar in inpStr:
    print(tempVar)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [49]:
details = ["Your Name","Your Age","Your Profession"]

for detail in details:
    print(f"-{detail}-")

-Your Name-
-Your Age-
-Your Profession-

#print the mixed datatype using tuple

In [31]:
tupleVar = (1, 'Welcome', 2, 'Hope')
print(tupleVar)

(1, 'Welcome', 2, 'Hope')

In [41]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
Tuple3 = (Tuple1 , Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

#print Odd numbers in the tuple

In [45]:
TupleVar = (20,10,16,19,25,1,276,188)
for tempVar in TupleVar:
    if (tempVar%2 != 0):
        print(f"{tempVar} is Odd")

19 is Odd
25 is Odd
1 is Odd

#print Even numbers in the tuple

In [47]:
TupleVar = (20,10,16,19,25,1,276,188)
for tempVar in TupleVar:
    if (tempVar%2 == 0):
        print(f"{tempVar} is Even")

20 is Even
10 is Even
16 is Even
276 is Even
188 is Even